{
  "listen": ":8030",
  "httpVersion": 2,
  "rwTimeout": 5000,
  "keepaliveTimeout": 15000,
  "rewriteTimeout": 10000,
  "noLogGets": false,
  "noLogHeaders": "Accept,Accept-Encoding,Accept-Language,Cache-Control,Pragma,Connection,Upgrade-Insecure-Requests",
  "noLogInputFields": false,
  "logInputArrayNum": 0,
  "logOutputFields": "code,message",
  "logOutputArrayNum": 2,
  "logWebsocketAction": false,
  "compress": true,
  "certFile": "",
  "keyFile": "",
  "accessTokens": {
      "hasfjlkdlasfsa": 1,
      "fdasfsadfdsa": 2,
      "9ifjjabdsadsa": 2
  },
  "callTokens": {
    "hasfjlkdlasfsa": 1,
    "fdasfsadfdsa": 2
  },
  "callRetryTimes": 10
}
