{
  "listen": ":8001",
  "rwTimeout": 5000,
  "keepaliveTimeout": 5000,
  "callTimeout": 5000,
  "logFile": "",
  "noLogGets": false,
  "certFile": "",
  "keyFile": "",

  "registry": "discover:15",
  "registryCalls": "discover:15",
  "registryPrefix": "DC_",
  "app": "demo",
  "weight": 1,
  "accessTokens": {
    "hasfjlkdlasfsa": 1,
    "fdasfsadfdsa": 2,
    "9ifjjabdsadsa": 2
  },
  "calls": {
    "user": {}
    "news": {"AccessToken": "hasfjlkdlasfsa", "Timeout": 5000, "httpVersion": 1, "withSSL": false}
  }
}